@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-principal: 'Roboto', sans-serif;
    --cor-branca-principal: whitesmoke;
    --cor-tranparente: rgba(0,0,0,.6);
}
html{

}

body{
    background-image: url("../assets/imagem_fundo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

::-webkit-scrollbar{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(104, 104, 104);
    border-radius: 18px;
}

/* pagina de loguin e cadastro  */
.pagina{
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    

}
.pagina_loguin{

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    border-left: solid 0.1px white ;
    padding: 9% 5% 5% 5%;
    
}

.pagina_loguin_cadastro{

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    border-left: solid 0.1px white ;
    padding: 7% 5% 5% 5%;

}

.pagina_loguin_cadastro_sexo{
    background: none;
    color: whitesmoke;
    padding: 0;
    font-family: var(--font-principal);
    border: none;
    border-bottom: solid 2px;
    font-size: 1rem;
    box-shadow: none;
    outline: none;
}

.pagina_loguin_cadastro_sexo_option{

    background: none;
    background-color: black;
    color: whitesmoke;
    padding: 0;
    font-family: var(--font-principal);
    border: none;
    border-bottom: solid 2px;
    font-size: 1rem;

}

.pagina_loguin_logo{
    width: 50%;
}

.pagina_loguin_input{

    padding: 10px;
    border: none;
    border-bottom: solid 2px;
    box-shadow: none;
    background: none;
    outline: none;
    color: aliceblue;
    font-size: 1rem;
    font-family: var(--font-principal);

}

input::placeholder{

    font-size: 1rem;
    color: whitesmoke;
    font-family: var(--font-principal);

}

.msg_senha_errada{
    font-family: var(--font-principal);
    color: red;
    font-size: 0.9rem;
}

.pagina_loguin_bottom{
    padding: 5% 40%;
    border-radius: 24.04px;
    background: none;
    color: aliceblue;
    border: solid 1px;
    font-family: var(--font-principal);
    
}

.pagina_loguin_bottom:hover{
    background-color: whitesmoke;
    color: black;
    
}

.cadastro{
    text-decoration: none;
    font-family: var(--font-principal);
    color: whitesmoke;
}

.cadastro:hover{

    color: rgb(44, 44, 44);
}

/* pagina princiapal home  */

.cabecalho{

    background-color: rgba(0,0,0,.6);
    margin: 0% 10%; 
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;


}

.cabecalho_menu{
    display: flex;
    gap: 10%;
        justify-content: center;

}

.cabecalho__menu__link{
    color: whitesmoke;
    padding: 2% 5% ;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.0);
    font-family: var(--font-principal);
}

.cabecalho__menu__link:hover{
    color: chartreuse;
    border-bottom: 1px solid chartreuse;
    transition: 1s;
}

.conteiner3{
    background-color: rgba(0,0,0,.6);
    margin: 0% 10%;
    height: 100vh;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    

}



.pefil_chat{
    display: flex;
    align-items: center;
    padding: 0% 0% 0% 25%;
    gap: 80px;
}


.pefil_chat_foto{

    width: 30%;
    border-radius: 50px;
    padding: 2%;
}
.pefil_chat_info{
    font-family: var(--font-principal);
    margin: 2% 0% 0% 0%;
}

.perfil_chamado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    
}

.perfil_chamado_tabela{
    margin: auto;
    border: 1px solid whitesmoke;
    padding: 0%;
    border-radius: 12px;
    width: 90%;
    font-family: var(--font-principal);
    font-weight: 400;



    
}

th{
    padding: 1% 2%;
    
    border-bottom: 1px solid whitesmoke; 
    border-left: 20px solid rgba(0,0,0,.0); 

}

td{
    padding: 1% 2%;
    
    border-bottom: 1px solid whitesmoke; 
    border-left: 20px solid rgba(0,0,0,.0);  
    
}

.perfil_chamado_tabela_linha{
    color: chartreuse;
}

 /* PAGINA CRIAR CHAMADO  */

.logo_chamado{
    width: 10%;
}

.criar_chamado{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 2% 15%;
    border-radius: 18px;
    background-color: rgba(0,0,0,.5);
}

.tipo_servico_prioridade{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    margin: 2% 0% 0% 0%;
    
}

.tipo_servico_prioridade_subtitulo{
    font-family: var(--font-principal);
    font-size: 1rem;
}

.tipo_servico{

    display: flex;
    flex-direction: column;
    align-items: center;

}




.prioridade{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.chamado_select{
    background-color: rgba(0,0,0,.4);
    color: var(--cor-brnca-principal);
    border: none;
    font-family: var(--font-principal);
    outline: none;
    padding: 2%;
    border-radius: 16px;
    font-size: 1rem;
}

.chamado_select:hover{
    
    background-color: black;
    border-radius: 16px;
}



.descricao{
    padding: 2% 0% 0% 5%;
    display: flex;
    flex-direction: column;
}

.descricao_textarea{
    padding: 0% 0% ;
    margin: 0% 0% 5% 0%;
    background-color: rgba(0,0,0,.4);
    color: whitesmoke;
    font-family: var(--font-principal);
    border: none;
    font-size: 1.5rem;
    border-radius: 16px;
    box-shadow: none;
    outline: none;
    resize: none;
    
}

.descricao_textarea::placeholder{

    color: var(--cor-branca-principal);
    font-family: var(--font-principal);
    font-size: 1.5rem;

}

.descricao_bottom{
    padding: 2%;
    border-radius: 16px;
    background-color: rgba(0,0,0,.0);
    color: var(--cor-branca-principal);
    border: 1px solid var(--cor-branca-principal);
    font-family: var(--font-principal);
    font-size: 1rem;
    margin: 0% 0% 5% 2%;
    

}

.descricao_bottom:hover{
    background-color: var(--cor-branca-principal);
    color: black;
}

.minha_redes{
    margin: 2% 15%;
}

/* PPAGINA CONFIGURACAO DE CHAMADO  */

.conteiner{
    background-color: rgba(0,0,0,.6);
    margin: 0% 10%;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 20px;

}

.logo_categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}

.config_titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.config_form{
    display: flex;
    gap: 24px;
}
.categoria{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    gap: 20px;
}
.categoria_input{
    
    padding: 10px;
    border: none;
    border-bottom: solid 2px;
    box-shadow: none;
    background: none;
    outline: none;
    color: aliceblue;
    font-size: 1rem;
    font-family: var(--font-principal);
    width: 150px;
   
}

.categoria_buttom{
    padding: 10% 10%;
    border-radius: 24.04px;
    background: none;
    color: aliceblue;
    border: solid 1px;
    font-family: var(--font-principal);
}

.categoria_buttom:hover{


    background-color: var(--cor-branca-principal);
    color: black;
    transition: 0.1s;
    
}

.prioridade_form{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0%;
    gap: 20px;
}

.link_visualizar{
    color: whitesmoke;
    padding: 2%;
    text-decoration: none;
    font-family: var(--font-principal);
    font-size: 1.5rem;
    background-color: rgba(0,0,0,.0);
    border: none;
}

.link_visualizar:hover{
    color: chartreuse;
    border-bottom: 1px solid chartreuse;
    transition: 1s;
}

/* PAGINA MOSTRA TABELA CATEGORIA  */

.tabela_categoria{
    
    border: 1px solid whitesmoke;
    padding: 0%;
    border-radius: 12px;
    width: 90%;
    font-family: var(--font-principal);
    font-weight: 400;
    
}

.tabela_categoria_linha{
    color: chartreuse;
    
}

.nenhum_resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    font-family: var(--font-principal);
    font-size: 1rem;

}

.lupa_imagem{
    width: 180px;
}






