@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-principal: 'Roboto', sans-serif;
}

body{
    background-image: url("../assets/imagem_fundo1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}

/* pagina de loguin e cadastro  */
.pagina{
    display: flex;
    justify-content: flex-end;
    height: 100vh;
    

}
.pagina_loguin{

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    border-left: solid 0.1px white ;
    padding: 9% 5% 5% 5%;
    
}

.pagina_loguin_cadastro{

    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0,0,0,.6);
    border-left: solid 0.1px white ;
    padding: 7% 5% 5% 5%;

}

.pagina_loguin_cadastro_sexo{
    background: none;
    color: whitesmoke;
    padding: 0;
    font-family: var(--font-principal);
    border: none;
    border-bottom: solid 2px;
    font-size: 1rem;
    box-shadow: none;
    outline: none;
}

.pagina_loguin_cadastro_sexo_option{

    background: none;
    background-color: black;
    color: whitesmoke;
    padding: 0;
    font-family: var(--font-principal);
    border: none;
    border-bottom: solid 2px;
    font-size: 1rem;

}

.pagina_loguin_logo{
    width: 50%;
}

.pagina_loguin_input{

    padding: 10px;
    border: none;
    border-bottom: solid 2px;
    box-shadow: none;
    background: none;
    outline: none;
    color: aliceblue;
    font-size: 1rem;
    font-family: var(--font-principal);

}

input::placeholder{

    font-size: 1rem;
    color: whitesmoke;
    font-family: var(--font-principal);

}

.pagina_loguin_bottom{
    padding: 5% 40%;
    border-radius: 24.04px;
    background: none;
    color: aliceblue;
    border: solid 1px;
    font-family: var(--font-principal);
    
}

.pagina_loguin_bottom:hover{
    background-color: whitesmoke;
    color: black;
    
}

.cadastro{
    text-decoration: none;
    font-family: var(--font-principal);
    color: whitesmoke;
}

.cadastro:hover{

    color: rgb(44, 44, 44);
}

/* pagina princiapal home  */

.cabecalho{

    background-color: rgba(0,0,0,.6);
    margin: 0% 10%; 
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;

}

.cabecalho_menu{
    display: flex;
    gap: 39%;
}

.cabecalho__menu__link{
    color: whitesmoke;
    padding: 2%;
    text-decoration: none;
    font-family: var(--font-principal);
}

.home{
    background-color: rgba(0,0,0,.6);
    margin: 0% 10%; 
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    height: 90vh;
}

table{
    border: solid 1px;
    padding: 16% 39%;
}

.home_chat_textarea{
    
}